Book!t.Biz/Service References/FreeBusyService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9988/bookit_freebusyservice/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="GetFreeBusy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="duration" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeBusyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFreeBusyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="duration" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsFreeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFreeForNext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minutes" type="xs:int" />
        <xs:element minOccurs="0" name="stime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFreeForNextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="IsFreeForNextResult" type="q1:KeyValuePairOfdateTimeint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>